  @import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');

*{
	margin: 0; 
	padding: 0;
	border: 0;
	box-sizing: 0;
    font-family: "poppins", sans-serif;
}
html { 
	background-color: #000551;
 } 
 body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
  }
section {
	width: 100%; /* Ocupa toda a largura do contêiner pai */
	max-width: 768px; /* Define uma largura máxima para o conteúdo */
	box-sizing: border-box; /* Inclui padding e bordas na largura total */
	padding: 20px; /* Adiciona um espaçamento interno */
  }

.header{
	width: 100%;
	height: 15px;
	background-color:rgb(136, 255, 0);
}

nav{
	width: 100%;
	height: 50vh;
	background-color:none;
	float: right;
}

main{
	max-width: 100%;
	background-color: none ;
	float: left;
	margin-right: 250px;
	position: relative;

}
h3{
	color: aliceblue;
	margin-top: 7vh;
}


.div-texto{
	max-width: 600px; /* Ajuste conforme necessário */
	margin: 0 auto;
}
.div-texto p{
	font-size: 21px;
	color: #def7f4;
	margin-top: 1%;
}


/*login-pagina*/


.h2-login{
	color: #def7f4;
	margin-top: 5vh;
	margin-left: 25vh;
}
.div-login{

	max-width: 600px; /* Ajuste conforme necessário */
	margin-left: 40%;
	margin-top: 2vh;
	margin-bottom: 5vh;
	background-color: #EDB900;
	margin-bottom: 1rem;
	border-radius: 10px;
	height: 38vh;
	width: 350px;



}
.div-login div{
	font-size: 22px;
	color: #def7f4;
	margin-top: 1%;
}



 .div-login label{  
	color: #000551;
	align-items:center;
	font-size: 16Px;
	margin-left: 5vh;

	
 }
  .input-login{
	outline: none;
	font-size: 0.9rem;
	width: 50%;
	margin-top: 5%;
	flex-direction: row-reverse;
	align-items: center;
    padding: 0.4rem 1rem;
    border: none;
	outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px hwb(0 1% 83% / 0.932);
	margin-top: 4vh;
	margin-bottom: 1vh;
}

button[type="button"]{
	background-color: #000551;
	color: #def7f4;
	border: none;
	cursor: pointer;
	height: 4vh;
	width: 100px;
	border-radius: 5px;
	margin-top: 1vh;
	align-items: center;
	margin-left: 35%;
	margin-top: 3vh;
	
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
	margin-left: 10vh;
}


/* Cadastro----------*/

.h2-cadastro{
	color:  rgba(67, 5, 238, 0.945);
	margin-top: 2vh;
	margin-bottom: 3vh;
	margin-left: 1vh;
	
}
.form-cadastro {
	background-color:#EDB900;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin-bottom: auto;
	margin-left:40%;
	height: 75vh;
	width: 350px;
	border-radius: 15px;

}
 .input-cadastro{
	flex-direction: column;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	
 }
 .input-cadastro input {
	margin-bottom: 1vh;
	margin-top:none;
    margin: 0.2rem 0;
    padding: 0.4rem 1rem;
    border: none;
	outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hwb(0 1% 83% / 0.932);
    font-size: 0.8rem;
}
.input-cadastro label {
	color: rgba(67, 5, 238, 0.945);
	border: none;
	margin-bottom: 0.1rem;
	margin-top: 0.1%;
}
.btn-cadastro{
	background-color: #06cf39;
	color: #000551;
	border: none;
	cursor: pointer;
	height: 5vh;
	width: 200px;
	border-radius: 5px;
	margin-top: 1vh;
	align-self: center;
	margin-left: 60%;
	
}
/*--------------ffim--------------------------*/


/* tenis de mesa*/

.h2-cadastro{
	color:  rgba(67, 5, 238, 0.945);
	margin-top: 2vh;
	margin-bottom: 3vh;
	margin-left: 1vh;
	
}
.form-tenis {
	background-color:#EDB900;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin-bottom: auto;
	margin-left:40%;
	height: 80vh;
	width: 350px;
	border-radius: 15px;

}
 .input-tenis{
	flex-direction: column;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	
 }
 .input-tenis input {
	margin-bottom: 1vh;
	margin-top:none;
    margin: 0.2rem 0;
    padding: 0.4rem 1rem;
    border: none;
	outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hwb(0 1% 83% / 0.932);
    font-size: 0.8rem;
}
.input-tenis label {
	color: rgba(67, 5, 238, 0.945);
	border: none;
	margin-bottom: 0.1rem;
	margin-top: 0.1%;
}
.btn-inicia{
	background-color: #06cf39;
	color: #000551;
	border: none;
	cursor: pointer;
	height: 5vh;
	width: 200px;
	border-radius: 5px;
	margin-top: 1vh;
	align-self: center;
	margin-left: 60%;
	
}
/*-----------------Fimmmmm-----------------------*/



/* veleibol*/

.h2-cadastro{
	color:  rgba(67, 5, 238, 0.945);
	margin-top: 2vh;
	margin-bottom: 3vh;
	margin-left: 1vh;
	
}
.form-volei {
	background-color:#EDB900;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin-bottom: auto;
	margin-left:40%;
	height: 80vh;
	width: 350px;
	border-radius: 15px;

}
 .input-volei{
	flex-direction: column;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	
 }
 .input-volei input {
	margin-bottom: 1vh;
	margin-top:none;
    margin: 0.2rem 0;
    padding: 0.4rem 1rem;
    border: none;
	outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px hwb(0 1% 83% / 0.932);
    font-size: 0.8rem;
}
.input-volei label {
	color: rgba(67, 5, 238, 0.945);
	border: none;
	margin-bottom: 0.1rem;
	margin-top: 0.1%;
}
.btn-inicia{
	background-color: #06cf39;
	color: #000551;
	border: none;
	cursor: pointer;
	height: 5vh;
	width: 200px;
	border-radius: 5px;
	margin-top: 1vh;
	align-self: center;
	margin-left: 60%;
	
}
/*----------------------------------------*/



/* esportes-pagina*/
.escolha-um-esporte{
color: #def7f4;
margin-top: 10px;
margin-left: 20vh;
}

.esportes-contener{
	width: 50%;
	display: flex;
	flex-direction: row;
	margin-top: 2vh;

}
 .esportes-contener button{
	background-color: #EDB900;
	color: #000551;
	text-decoration: double;
	border: none;
	cursor: pointer;
	height: 30vh;
	width: 200px;
	border-radius: 5px;
	margin-top: 2vh;
	margin-right: 100px;
	align-items: center;


 }



/*--------------------------------------*/

/*---------pagina menu     -------------------------*/
ul {
	margin: 0px;
	padding: 0px;
  }
  #nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 1%;
	left: 5px;
	right: 0%;
	width: 100%;
	height: 10vh;
	background-color:none;
	position: fixed;
	z-index: 10000;
}
  
  a {
	color: black;
	text-decoration: none;
	font-family: sans-serif;
  }
  
  a:hover {
	background: rgba(0, 0, 0, 0.05);
  }
  
  #logo {
	font-size: 1.5rem;
	font-weight: bold;
  }
  
  #header-menu {
	box-sizing: border-tenis;
	height: 70px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("../img/logo.png");
	background-size: cover;
	width: 100vh;
	height: 40vh;
  }
  
  #menu {
	padding-top: 0%;
	padding: 25%;
	display:flex;
	list-style: none;
	gap: 0.5rem;
	
  }
  #menu li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
  }
  #menu a {
	text-decoration: none;
	color: red;
	padding: 0.5rem;
  }
  
  #btn-menu {
	display: none;
  }
  
  @media (max-width: 768px) {
	body {
			font-size: 14px;
			/* Reduz a fonte base para telas menores */
		}
	
	#menu {
	  display:flex;
	  position: relative;
	  padding: 0%;
	  width: 100%;
	  top: 30px;
	  right: 0px;
	  height: 0px;
	  transition: 0.6s;
	  z-index: 1000;
	  visibility: hidden;
	  overflow-y: hidden;
	  max-height: 100%;
	 
	}
	#nav.active #menu {
		display:flex;
	  height: calc(100vh - 70px);
	  visibility: visible;
	  overflow-y: none;
	}
	#menu a {
	  padding: 1rem 0;
	  margin: 0 1rem;
	  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	}
	#btn-menu {
	  display: flex;
	  padding: 0.5rem 1rem;
	  font-size: 1rem;
	  border: none;
	  background: none;
	  cursor: pointer;
	  gap: 0.5rem;
	  z-index: 1001;
	}
	#hang {
	  border-top: 2px solid;
	  width: 20px;
	}
	#hang::after,
	#hang::before {
	  content: '';
	  display: block;
	  width: 20px;
	  height: 2px;
	  background: currentColor;
	  margin-top: 5px;
	  transition: 0.3s;
	  position: relative;
	}
	#nav.active #hang {
	  border-top-color: transparent;
	}
	#nav.active #hang::before {
	  transform: rotate(135deg);
	}
	#nav.active #h::after {
	  transform: rotate(-135deg);
	  top: -7px;
	}
}
/*-------------------------------------------*/
aside{
	width: 15%;
	height: 450px;
	background-color: #000551 ;
	float: left;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #000551;
	clear: both;
}
/* Component*/